body, html {
  height: 100vh;
  overflow: hidden;
  font-family: monospace;
  color: #a981bb;
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
}

h1 {
  margin: 40px 0px;
}

.level {
  margin-bottom: 40px;
}

.easyLevel, .intermediateLevel, .difficultLevel {
  display: inline-block;
  margin-top: 0;
  font-size: 20px;
  color: white;
  padding: 4px;
  border-radius: 4px;
}


.easyLevel:hover, .intermediateLevel:hover, .difficultLevel:hover {
  display: inline-block;
  margin-top: 0;
  font-size: 25px;
  color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;

}
#fullSizeMessage {
  display: none;
}


.easyLevel {
  background-color: lime;
}

.intermediateLevel {
   background-color: orange;
}

.difficultLevel {
   background-color: red;
}

@media only screen and (max-device-width: 480px) {
  #gc {
    width: 280px;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
  }

  h1 {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .level {
    font-size: 12px;
    margin: 25px 10px;
  }

  #fullSizeMessage {
    width: 300px;
    display: block;
    font-size: 18px;
    color: white;
    position: relative;
    margin: 0 auto;
  }
